@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
	/* font-family: 'Lato';
	font-size: 10px;
	font-weight: lighter; */
}

h1 {
	font-weight: normal;
	color: white;
}

div.info {
	margin: 12px 0;
}

div.info * {
	color: white;
	text-shadow: 1px 1px 0 #000000D0;
}

#icons {
	display: none;
	filter:url(#drop-shadow);
}

.container {
	position: absolute;
	left: 1000px;
}

#vehicle {
	fill: white;
}


div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.1s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill-opacity: 0.7;
    fill: #00000080;
}

svg.menu > g.sector > path {
    cursor: pointer;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    margin-top: 5px;
    font-size: 3px;
    cursor: pointer;
    fill: white;
}

svg.menu > g.sector:hover > path {
    fill: #ff3019;
    fill-opacity: 0.6;

}

svg.menu > g.center:hover > circle {
    fill:#ff3019;
    fill-opacity: 0.6;
}

svg.menu > g.center > circle {
    cursor: pointer;
    fill: #00000080;
    fill-opacity: 0.4;
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 2.5px;
    cursor: pointer;
    fill: white;
}